<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
    <link href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" rel="stylesheet">
</head>

<body>
<% include ../partials/header %>

<div class="container">

    <h1 class="mb-3">Campanhas</h1>

    <table id="campaignsTable" class="table table-striped table-bordered bulk_action">
        <thead>
        <tr>
            <th class="column-title">Título</th>
            <th class="column-title">Localização</th>
            <th class="column-title">Tipo</th>
            <th class="column-title">Progresso</th>
            <th class="column-title">Objetivo</th>
            <th class="column-title">Acção</th>
        </tr>
        </thead>

        <tbody>
        <% campaigns.forEach(function(campaign){ %>
        <tr class="<% if(campaign.reports.length > 0) { %>bg-warning<% } %>">
            <td><a href="/campaigns/<%= campaign._id %>"><%= campaign.title %></a></td>
            <td><a href="/campaigns/map?lat=<%= campaign.lat %>&lng=<%= campaign.lng %>"><%= campaign.location %></a></td>
            <td><% if(campaign.isFunds){ %>Fundos<% } else { %>Bens<% } %></td>
            <td class="text-center"><%= campaign.progress %></td>
            <td class="text-center"><%= campaign.goal %></td>
            <td>
                <a href="/campaigns/<%= campaign._id %>" class="btn btn-primary"><i class="fa fa-eye" aria-hidden="true"></i></a>
                <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#moderateModal"><i
                            class="fa fa-exclamation" aria-hidden="true"></i></button>
                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal"><i
                            class="fa fa-trash" aria-hidden="true" data-toggle="modal"
                            data-target="#deleteModal"></i></button>
            </td>
        </tr>
        <% }); %>
        </tbody>
    </table>
</div>

<% include ../partials/footer %>
<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script>
	$(document).ready(function() {
		$('#campaignsTable').DataTable();
	} );
</script>

<!-- Modal -->
<div class="modal fade" id="moderateModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Moderar utilizador</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Quer moderar este utilizador?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-warning">Moderar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Apagar utilizador</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Quer apagar este utilizador?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-danger">Apagar</button>
            </div>
        </div>
    </div>
</div>

</body>

</html>
