<div class="col-lg-4 col-md-4 mb-4 campaign_div">
    <div class="card">
        <a class="card-link" href="/campaigns/<%= campaign._id %>"></a>
        <img class="card-img-top campaign_img" src="/<%= campaign.image %>" alt="">
        <div class="card-body">
            <h4 class="card-title"><a class="title-link" href="/campaigns/<%= campaign._id %>"><%= campaign.title %></a></h4>
            <p class="card-text"><%= campaign.description %></p>
            <div class="latlng_campaign">
                <input type="hidden" value="<%= campaign.lat%>">
                <input type="hidden" value="<%= campaign.lng%>">
            </div>
        </div>
        <div class="card-footer">
            <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="<%= campaign.progress %>"
                     aria-valuemin="0" aria-valuemax="<%= campaign.goal %>" style="width:<% if(campaign.progress<campaign.goal) { %>
                <%= campaign.progress/campaign.goal*100 %>%
                <% } else {%>
                        100%
                <% } %>">
                </div>
            </div>
            <p><span class="progress-value"><% if(campaign.progress<campaign.goal) { %>
                    <%= (campaign.progress/campaign.goal*100).toFixed() %>%
                    <% } else {%>
                    100%
                    <% } %> %></span> concluído</p>
        </div>
    </div>
    <input type="hidden" class="id_campaign" value="<%= campaign._id%>">
</div>