<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../../partials/head %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropper/3.1.2/cropper.min.css" />
    <style>.image-editor {
            text-align: center;
        }

        .cropit-preview {
            background-color: #f8f8f8;
            background-size: cover;
            border: 5px solid #ccc;
            border-radius: 3px;
            margin-top: 7px;
            width: 250px;
            height: 250px;
            display: inline-block;
        }

        .cropit-preview-image-container {
            cursor: move;
        }

        .cropit-preview-background {
            opacity: .2;
            cursor: auto;
        }

        .image-size-label {
            margin-top: 10px;
        }

        input, .export {
            /* Use relative position to prevent from being covered by image background */
            position: relative;
            z-index: 10;
            display: block;
        }

        button {
            margin-top: 10px;
        }
    </style>
</head>

<body>
<% include ../../partials/header %>

<!-- Page Content -->
<div class="container">
    <form action="create" method="post" encType="multipart/form-data">
            <% if(typeof errors == "object" && errors) { %>
             <% for(var i = 0; i < errors.length; i++) { %>
                <% if(errors[i].param === 'title') {%>
                        <div class="form-group  has-danger row my-4">
                            <label for="title" class="col-sm-2 col-form-label">Título</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control form-control-danger" id="title" name="title" >
                                <div class="form-control-feedback"><%= errors[i].msg %></div>
                            </div>
                        </div>

                <% } %>
             <% } %>
             <% } %>

        <div class="form-group row my-4">
            <label for="isFunds" class="col-sm-2 col-form-label">Tipo</label>
            <div class="col-sm-8 btn-group" data-toggle="buttons">
                <label class="btn btn-primary active">
                    <input type="radio" name="isFunds" id="funds" value="true" onchange="showGoodsTypeSelect(true);" checked> Fundos
                </label>
                <label class="btn btn-primary">
                    <input type="radio" name="isFunds" id="goods" value="false" onchange="showGoodsTypeSelect(false);"> Bens
                </label>
            </div>
        </div>
        <div class="form-group row">
            <label for="goal" class="col-sm-2 col-form-label">Objetivo</label>
            <% if(typeof errors == "object" && errors) { %>
                         <% for(var i = 0; i < errors.length; i++) { %>
                            <% if(errors[i].param === 'goal') {%>
                                <li> <%= errors[i].msg %></li>
                            <% } %>
                         <% } %>
                         <% } %>
            <div class="col-sm-4 col-md-3">
                <div class="input-group">
                    <input class="form-control border-right-0" type="number" id="goal" name="goal">
                    <span class="input-group-addon bg-white border-left-0" id="euroIcon"><i class="fa fa-eur" aria-hidden="true"></i></span>
                    <select class="input-group-addon bg-white border-left-0" id="goodsTypeSelect" onchange='otherGoodsType(this.value);' style='display:none;'>
                        <option value="" disabled selected>Tipo de bem</option>
                        <option value="livros">Livros</option>
                        <option value="roupa">Roupa</option>
                        <option value="outro">Outro</option>
                    </select>
                </div>
            </div>
            <div class="col-sm-3 col-md-2">
                <input class="form-control" type="text" name="goodsType" id="goodsType" style='display:none;'/>
            </div>
        </div>
        <div class="form-group row">
            <label for="description" class="col-sm-2 col-form-label">Descrição</label>
            <% if(typeof errors == "object" && errors) { %>
                         <% for(var i = 0; i < errors.length; i++) { %>
                            <% if(errors[i].param === 'description') {%>
                                <li> <%= errors[i].msg %></li>
                            <% } %>
                         <% } %>
                         <% } %>
            <div class="col-sm-8">
                <textarea class="form-control" id="description" rows="4" name="description"></textarea>
            </div>
        </div>

        <div class="form-group row">
            <label for="location" class="col-sm-2 col-form-label">Localização</label>
            <% if(typeof errors == "object" && errors) { %>
                                     <% for(var i = 0; i < errors.length; i++) { %>
                                        <% if(errors[i].param === 'latlong') {%>
                                            <li> <%= errors[i].msg %></li>
                                        <% } %>
                                     <% } %>
                                     <% } %>
            <div class="col-sm-8">
                <input class="form-control" id="location" type="text" name="location">
                <input id="lat" type="hidden" name="lat">
                <input id="lng" type="hidden" name="lng">
            </div>
        </div>

        <div class="form-group row">
            <label for="endDate" class="col-sm-2 col-form-label">Data final</label>
            <% if(typeof errors == "object" && errors) { %>
                         <% for(var i = 0; i < errors.length; i++) { %>
                            <% if(errors[i].param === 'endDate') {%>
                                <li> <%= errors[i].msg %></li>
                            <% } %>
                         <% } %>
                         <% } %>
            <div class="col-sm-8">
                <input class="form-control" type="date" id="endDate" name="endDate">
            </div>
        </div>

        <div class="form-group row">
            <div class="col-sm-2">
                <input type="file" class="form-control-file" id="imageFile" name="imageFile" onchange="readURL(this);">
                <small id="fileHelp" class="form-text text-muted">Adicione uma imagem relevante para a campanha.</small>
            </div>
        </div>

        <div id="image-cropper">
            <div class="cropit-preview"></div>

            <input type="range" class="cropit-image-zoom-input" />

            <input type="file" class="cropit-image-input" />
            <div class="select-image-btn">Select new image</div>
        </div>

        <button type="submit" class="btn btn-primary">Criar campanha</button>
    </form>

    <!--<div class="row well" style="border-style:solid; border-width:medium;border-radius:5px; border-color:green;">
        <div class="col-sm-6">
            <div class="row">
                <div class="col-xs-12 col-sm-6 mb-4">
                    <div class="panel panel-default text-center">
                        <div class="panel-heading">Nome da Campanha</div>
                        <div class="panel-body"><input type="text" class="form-control"></div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 mb-4">
                    <div class="panel panel-default text-center">
                        <div class="panel-heading">Localização</div>
                        <div class="panel-body"><input type="text" class="form-control"></div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 mb-4">
                    <div class="panel panel-default text-center">
                        <div class="panel-heading">Contacto</div>
                        <div class="panel-body"><input type="text" class="form-control"></div>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 mb-4">
                    <div class="panel panel-default text-center">
                        <div class="panel-heading">O que quer adquirir</div>
                        <div class="panel-body"><input type="text" class="form-control"></div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <div class="panel panel-default text-center">
                        <div class="panel-heading">Quantidade</div>
                        <div class="panel-body"><input type="text" class="form-control"></div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <div class="panel panel-default text-center">
                        <div class="panel-heading">Data Limite</div>
                        <div class="panel-body"><input type="text" class="form-control"></div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">Descrição</div>
                        <div class="panel-body">
                                <textarea class="form-control" rows="5">
                                                    Curabitur aliquet felis rutrum ex aliquam laoreet. Pellentesque porttitor, tortor convallis varius sagittis, felis turpis commodo lacus, feugiat auctor est massa at erat.
                                                    Fusce varius cursus dignissim. Integer sed augue semper, interdum massa ac, tincidunt metus. Morbi cursus ante eget pellentesque gravida.
                                                    Cras vel feugiat mi. Etiam magna sapien, euismod sit amet mollis in, ornare eget ipsum. Etiam congue eu dolor ut vulputate.
                                                    Pellentesque tortor lorem, malesuada vitae efficitur vitae, efficitur vel eros.
                                                    Sed iaculis, ante eget porttitor fermentum, massa nulla dictum augue, vitae euismod magna arcu in orci.
                                </textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="row">
                <div class="col-xs-12">
                    <img class="card-img-top" src="http://placehold.it/500x325" alt="">
                </div>
                <div class="col-xs-12">
                    <button type="button" class="btn btn-default btn-block">Adicionar foto</button>
                </div>
            </div>
        </div>

        <div class="col-xs-12">
            <button type="button" class="btn btn-default btn-block">Save changes</button>
        </div>
    </div>-->
</div>
<!-- /.row -->
<!-- /.container -->

<% include ../../partials/footer %>
<script src="https://cdnjs.cloudflare.com/ajax/libs/cropper/3.1.2/cropper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/cropit/0.5.1/jquery.cropit.min.js"></script>
<script>
    function showGoodsTypeSelect(isFunds){
        if(isFunds){
            $('#euroIcon').show();
            $('#goodsTypeSelect').hide();
            $('#goodsType').hide();
            $('#goodsTypeSelect').val('');
        } else {
            $('#euroIcon').hide();
            $('#goodsTypeSelect').show();
        }
    }

    function otherGoodsType(val) {
        var element = $('#goodsType');
        if (val == 'outro'){
            element.val('');
            element.show();
        } else {
            element.hide();
            element.val(val);
        }
    }

    var autocomplete;
    function initAutocomplete() {
        // Create the autocomplete object, restricting the search to geographical
        // location types.
        autocomplete = new google.maps.places.Autocomplete(
            (document.getElementById('location')),
            {types: ['geocode']});

        // When the user selects an address from the dropdown, populate the address
        // fields in the form.
        autocomplete.addListener('place_changed', fillInAddress);


    }
    function fillInAddress() {
        // Get the place details from the autocomplete object.
        var place = autocomplete.getPlace();
        document.getElementById('lat').value = place.geometry.location.lat();
        document.getElementById('lng').value = place.geometry.location.lng();
    }
    $('#image-cropper').cropit({
        imageBackground: true,
        allowDragNDrop: false,
        width: "300px",
        height: "300px"
    });
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAYD9E2TQzUSIST7qw8ns3quQ2Ry-BDuh4&libraries=places&callback=initAutocomplete"
        async defer></script>

</body>

</html>