<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../../partials/head %>
</head>

<body>
<% include ../../partials/header %>


<!-- Page Content -->
<div class="container main-container" data-campaign="<%= campaign._id %>">

    <div class="row page-title mb-4">
        <div class="col-12 col-md-8">
            <h1 class="display-4 hidden-info"><%= campaign.title %></h1>
        </div>
    </div>
    <!-- Header -->
    <section class="header">
        <input type="hidden" id="campaignId" value="<%= campaign._id %>">
        <% if(isOwner) { %>
        <button class="btn btn-primary pull-right edit-info" id="saveBtn">
            <i class="fa fa-floppy-o"></i>
        </button>
        <input class="form-control form-group edit-info" type="text" name="title" id="title" value="<%= campaign.title %>">
        <% } %>
        <% if(isOwner) { %>
        <textarea class="form-control form-group edit-info" id="description" rows="4"
                  name="description"> <%= campaign.description %> </textarea>
        <% } %>
    </section>

    <div class="row text-center">
        <div class="col-sm-12 col-md-8 mb-8">
            <img class="card-img-top" src="/<%= campaign.image %>" alt="">
        </div>
        <div class="col-sm-12 col-md-4 campaign-info">
            <div class="progress mb-3">
                <div class="progress-bar" role="progressbar" aria-valuenow="<%= campaign.progress %>"
                     aria-valuemin="0" aria-valuemax="<%= campaign.goal %>"
                     style="width:<% if(campaign.progress < campaign.goal) { %>
                     <%= campaign.progress / campaign.goal * 100 %>%
                     <% } else { %>
                             100%
                     <% } %>">
                </div>
            </div>
            <div class="row text-left">
                <div class="col-3 col-sm-4 col-md-12">
                    <p class="lead lead-progress"><%= campaign.progress %>€</p>
                    <p class="camp-det-aux">doados de <%= campaign.goal %>€</p>
                </div>
                <div class="col-5 col-md-12">
                    <input type="hidden" id="campaignEndDate" value="<%= campaign.endDate %>">
                    <p class="lead hidden-info" id="time-left-counter"></p>
                    <p class="camp-det-aux">restantes</p>
                    <% if(isOwner) { %>
                    <input class="form-control edit-info" type="date" id="endDate" name="endDate" value="<%= campaign.endDate %>">
                    <% } %>
                </div>
                <div class="col-4 col-sm-3 col-md-12">
                    <p class="lead"><%= campaign.n_donators %></p>
                    <% if (campaign.n_donators == 1){ %>
                    <p class="camp-det-aux">contribuidor
                        <% } else { %>
                    <p class="camp-det-aux">contribuidores</p>
                    <% } %>
                </div>
            </div>
            <div class="row text-left campaign-description-small mb-2">
                <% include ../../partials/campaignfooter %>
            </div>

            <% if (!campaign.closed) { %>

            <% if (isOwner  && !campaign.isFunds)  { %> <!-- && !campaign.isFunds -->

            <form action="<%= campaign._id %>/donate" method="post">
                <div class="row">
                    <div class="input-group col-md-8">
                        <input type="text" placeholder="Nome do contribuidor" value="Anónimo" class="form-control contribute-name" aria-label="Name" name="name">
                    </div>
                </div>
                <div class="row">
                    <div class="input-group col-md-8 center-block">
                        <input type="number" min="0" step="0.01" max="<%= campaign.goal - campaign.progress %>" placeholder="Faltam <%= campaign.goal - campaign.progress %>!" class="form-control contribute-value"
                               aria-label="Amount" name="amount">
                    </div>
                    <div class="col-md-4 center-block">
                        <button type="submit" class="btn btn-primary find-btn">Atualizar</button>
                    </div>
                </div>
            </form>

            <% } else if(userLogged) { %>
            <form action="<%= campaign._id %>/donate" method="post">
                <div class="row">
                    <div class="campaign-logged-contribute input-group col-md-8 center-block">
                        <input type="number" min="0" step="0.01" max="<%= campaign.goal - campaign.progress %>" placeholder="Faltam <%= campaign.goal - campaign.progress %>€!" class="form-control contribute-value"
                               aria-label="Amount" name="amount">
                        <span class="input-group-addon">€</span>
                    </div>
                    <div class="col-12 col-md-4 center-block">
                        <button type="submit" class="btn btn-primary find-btn">Contribuir</button>
                    </div>
                </div>
            </form>
            <% } else { %>
            <a class="nav-signin btn btn-primary find-btn col-md-12" href="#authentication" data-toggle="modal">Contribuir</a>
            <% } %>
            <% } %>
            <div class="campaign-options">
                <% if(isOwner) { %>
                <a class="col-5 btn btn-info hidden-info" id="editBtn">
                    <svg class="icon icon-edit"><use xlink:href="#icon-edit"></use></svg> Editar
                </a>
                <a class="col-5 btn btn-info" href="" data-toggle="modal" data-target="#myModal" id="deleteTmp">
                    <svg class="icon icon-trash-o"><use xlink:href="#icon-trash-o"></use></svg> Eliminar
                </a>
                <% } else if(userLogged) { %>
                <a class="col-5 btn btn-info" href="" data-toggle="modal" data-target="#reportCampaignModal">
                    <svg class="icon icon-flag-o"><use xlink:href="#icon-flag-o"></use></svg> Reportar
                </a>
                <% } %>
            </div>
        </div>
    </div>

    <div class="row campaign-description-large">
        <% include ../../partials/campaignfooter %>
    </div>

    <section class="row">
        <div class="campaign-tabs col-12 col-md-8">
            <ul class="campaign-nav-tabs nav" role="tablist">
                <li class="nav-item">
                    <div class="tab-nav-link-wrapper">
                        <a class="nav-link active" data-toggle="tab" href="#campaign" role="tab">Campanha</a>
                    </div>
                </li>
                <li class="nav-item">
                    <div class="tab-nav-link-wrapper">
                        <a class="nav-link" data-toggle="tab" href="#comments" role="tab">Comentários <span class="tab-upper-values"><%= campaign.comments.filter(function(elem) { return !elem.removed; }).length %></span></a>
                    </div>
                </li>
                <li class="nav-item">
                    <div class="tab-nav-link-wrapper">
                        <a class="nav-link" data-toggle="tab" href="#community" role="tab">Contribuidores <span class="tab-upper-values"><%= campaign.donations.length %></span></a>
                    </div>
                </li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div class="tab-pane active" id="campaign" role="tabpanel">
                    <p class="campaign-description hidden-info preformatted"><%= campaign.description %></p>
                </div>
                <div class="tab-pane" id="comments" role="tabpanel">
                    <!-- Create new comment -->
                    <div class="mb-4">
                        <% if(userLogged) { %>
                        <button href="#commentArea" class="mx-auto d-block btn btn-secondary" data-toggle="collapse">Deixa aqui a tua dúvida/comentário</button>
                        <br>
                        <div id="commentArea" class="collapse">
                            <form class="comment-form" action="<%= campaign._id %>/comment" method="post">
                                <textarea class="form-control" rows="5" cols="60" name="comment" class="mx-auto d-block mb-2" required></textarea>
                                <button type="submit" class="mx-auto d-block btn btn-primary">Comentar</button>
                            </form>
                        </div>
                        <% } else { %>
                        <button class="nav-signin btn btn-secondary mx-auto d-block" href="#authentication" data-toggle="modal">Deixa aqui a tua dúvida/comentário</button>
                        <% } %>
                    </div>

                    <!-- Comment list -->
                    <% for (var c = 0; c < campaign.comments.length; c++) { %>
                        <% if (!campaign.comments[c].removed) { %>
                        <div class="media mb-4 comment-container" data-comment="<%= campaign.comments[c]._id %>">
                            <img class="d-flex align-self-start mr-3 media-img" src="http://placehold.it/64x64" alt="">
                            <div class="media-body">
                                <% if (campaign.comments[c].user._id == userID) { %>
                                <button class="btn btn-primary btn-sm ml-1 pull-right delete-comment">
                                    <i class="fa fa-trash-o"></i>
                                </button>
                                <button class="btn btn-primary btn-sm ml-1 pull-right edit-comment">
                                    <i class="fa fa-pencil-square-o"></i>
                                </button>
                                <% } %>
                                <%
                                    var day = campaign.comments[c].date.getDate();
                                    var month = campaign.comments[c].date.getMonth();
                                    var year = campaign.comments[c].date.getFullYear();
                                    var hour =  "" + campaign.comments[c].date.getHours();
                                    while (hour.length < 2) {hour = "0" + hour;}
                                    var minute =  "" + campaign.comments[c].date.getMinutes();
                                    while (minute.length < 2) {minute = "0" + minute;}
                                %>
                                <h5 class="mt-0"><%= campaign.comments[c].user.name %> <small class="small text-muted"><%= day + "/" + (month+1) + "/" + year + " às " + hour + ":" + minute %></small></h5>
                                <div class="comment-text preformatted"><%= campaign.comments[c].text %></div>

                                <!-- Create new reply -->
                                <div class="mt-3">
                                    <% if(userLogged) { %>
                                    <a href="#replyArea<%=c%>" class="btn btn-primary find-btn mb-4" data-toggle="collapse">Responder</a>
                                    <div id="replyArea<%=c%>" class="collapse">
                                        <form class="reply-form" action="<%= campaign._id %>/<%= campaign.comments[c]._id %>/reply" method="post">
                                            <textarea rows="5" cols="60" name="reply" required></textarea>
                                            <button type="submit" class="btn btn-primary find-btn d-block">Submeter</button>
                                        </form>
                                    </div>
                                    <% } else { %>
                                    <a class="nav-signin btn btn-primary find-btn mb-4" href="#authentication" data-toggle="modal">Responder</a>
                                    <% } %>
                                </div>

                                <!-- Reply list -->
                                <% for (var r = 0; r < campaign.comments[c].replies.length; r++) { %>
                                    <% if (!campaign.comments[c].replies[r].removed) { %>
                                    <div class="media mt-3 reply-container" data-reply="<%= campaign.comments[c].replies[r]._id %>">
                                        <a class="d-flex pr-3" href="#">
                                            <img class="d-flex align-self-start mr-3 media-img" src="http://placehold.it/64x64" alt="">
                                        </a>
                                        <div class="media-body">
                                            <% if (campaign.comments[c].replies[r].user._id == userID) { %>
                                            <button class="btn btn-primary btn-sm ml-1 pull-right delete-reply">
                                                <i class="fa fa-trash-o"></i>
                                            </button>
                                            <button class="btn btn-primary btn-sm ml-1 pull-right edit-reply">
                                                <i class="fa fa-pencil-square-o"></i>
                                            </button>
                                            <% } %>

                                            <%
                                                var day = campaign.comments[c].replies[r].date.getDate();
                                                var month = campaign.comments[c].replies[r].date.getMonth();
                                                var year = campaign.comments[c].replies[r].date.getFullYear();
                                                var hour =  "" + campaign.comments[c].replies[r].date.getHours();
                                                while (hour.length < 2) {hour = "0" + hour;}
                                                var minute =  "" + campaign.comments[c].replies[r].date.getMinutes();
                                                while (minute.length < 2) {minute = "0" + minute;}
                                            %>
                                            <h5 class="mt-0"><%= campaign.comments[c].replies[r].user.name %> <small class="text-muted"><%= day + "/" + (month+1) + "/" + year + " às " + hour + ":" + minute %></small></h5>
                                            <div class="reply-text preformatted"><%= campaign.comments[c].replies[r].text %></div>
                                        </div>
                                    </div>
                                    <% } %>
                                <% } %>
                            </div>
                        </div>
                        <% } %>
                    <% } %>
                </div>
                <div class="tab-pane" id="community" role="tabpanel">
                    <ul class="list-unstyled">
                        <% if(campaign.donations.length > 10) { %>
                        <% for (var i = campaign.donations.length - 1; i >= campaign.donations.length - 10; i--) { %>
                        <li class="media mb-4">
                            <img class="d-flex align-self-start mr-3 media-img" src="http://placehold.it/64x64" alt="">
                            <div class="media-body">
                                <h5 class="mt-0 mb-1"><%= campaign.donations[i].user.name %></h5>
                                Contribui com <%= campaign.donations[i].value %>€
                            </div>
                        </li>
                        <% } %>
                        <% } else { %>
                        <% for (var i = campaign.donations.length - 1; i >= 0; i--) { %>
                        <li class="media mb-4">
                            <img class="d-flex align-self-start mr-3 media-img" src="http://placehold.it/64x64" alt="">
                            <div class="media-body">
                                <h5 class="mt-0 mb-1"><%= campaign.donations[i].user.name %></h5>
                                Contribui com <%= campaign.donations[i].value %>€
                            </div>
                        </li>
                        <% } %>
                        <% } %>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</div>

<!-- Delete modal -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-body">
                <p>Tem a certeza que quer eliminar esta campanha?</p>
                <button type="button" class="btn btn-primary pull-right" id="deleteBtn">Sim</button>
                <button type="button" class="btn btn-info pull-right " data-dismiss="modal">Não</button>
            </div>
        </div>
    </div>
</div>

<!-- Report modal -->
<div class="modal fade" id="reportCampaignModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h6><svg class="icon icon-flag"><use xlink:href="#icon-flag"></use></svg> Reportar campanha</h6>
            </div>
            <div class="modal-body">
                <p>Pretende reportar esta campanha porque motivo?</p>
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="reportRadio" value="Fraude ou enganosa" checked>
                        Fraude ou enganosa
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="reportRadio" value="Conteúdo explícito">
                        Conteúdo explícito
                    </label>
                </div>
                <div class="form-check disabled">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="reportRadio" value="other">
                        Outro <input type="text" class="form-control" id="otherDescription" placeholder="Motivo">
                    </label>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary pull-right" id="reportBtn">Reportar</button>
                <button type="button" class="btn btn-info pull-right " data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>

<!-- /.container -->

<% include ../../partials/footer %>

<script src="/javascripts/campaigns/show.js"></script>
<script src="/javascripts/campaigns/edit.js"></script>
<script src="/javascripts/campaigns/delete.js"></script>
</body>

</html>