<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../../partials/head %>
</head>

<body>
<% include ../../partials/header %>

<!-- Page Content -->
<div class="container">

    <!-- Jumbotron Header -->
    <header class="jumbotron my-4 py-3">
        <h1 class="display-4"><%= campaign.title %></h1>
        <p class="lead"><%= campaign.description %></p>
    </header>

    <div class="row text-center mb-4">
        <div  class="col-sm-12 col-lg-8 col-md-8 mb-8">
            <img class="card-img-top" src="/<%= campaign.image %>" alt="">
        </div>
        <div  class="col-sm-12 col-lg-4 col-md-4 mb-4">
            <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="<%= campaign.donated %>"
                     aria-valuemin="0" aria-valuemax="<%= campaign.goal %>" style="width:<% if(campaign.donated<campaign.goal) { %>
                <%= campaign.donated/campaign.goal*100 %>%
                <% } else {%>
                        100%
                <% } %>">
                </div>
            </div>
            <div class="my-4 text-left">
                <p class="lead"><%= campaign.donated %>€</p>
                <p>Objectivo: <%= campaign.goal %>€</p>
                <p id="time-left-counter"></p>
                <p class="lead"><%= campaign.n_donators %></p>
                <p>Contribuidores</p>
                <% if (!campaign.closed) { %>
                    <p class="lead"><%= campaign.remaining %></p>
                    <p>Até acabar</p>
                <% } else { %>
                    <p class="lead">Concluído</p>
                <% } %>
            </div>
            <% if (!campaign.closed) { %>
                <% if(userLogged) { %>
                <form action="<%= campaign._id %>/donate" method="post">
                    <div class="input-group">
                        <input type="number" min="0" step="0.01" class="form-control contribute-value" aria-label="Amount" name="amount">
                        <span class="input-group-addon">€</span>
                    </div>
                    <button type="submit" class="btn btn-primary find-btn">Contribuir</button>
                </form>
                <% } else { %>
                <a class="btn btn-primary find-btn" href="#signin" data-toggle="modal">Contribuir</a>
                <% } %>
            <% } %>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-8">
            <a href="#" class="btn btn-primary find-btn mb-4">Deixa aqui a tua dúvida/comentário</a>
            <div class="media mb-4">
                <img class="d-flex align-self-start mr-3 media-img" src="http://placehold.it/64x64" alt="">
                <div class="media-body">
                    <h5 class="mt-0">Media heading</h5>
                    Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.

                    <div class="media mt-3">
                        <a class="d-flex pr-3" href="#">
                            <img class="d-flex align-self-start mr-3 media-img" src="http://placehold.it/64x64" alt="">
                        </a>
                        <div class="media-body">
                            <h5 class="mt-0">Media heading</h5>
                            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                        </div>
                    </div>
                </div>
            </div>
            <div class="media mb-4">
                <img class="d-flex align-self-start mr-3 media-img" src="http://placehold.it/64x64" alt="">
                <div class="media-body">
                    <h5 class="mt-0">Media heading</h5>
                    Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.

                    <div class="media mt-3">
                        <a class="d-flex pr-3" href="#">
                            <img class="d-flex align-self-start mr-3 media-img" src="http://placehold.it/64x64" alt="">
                        </a>
                        <div class="media-body">
                            <h5 class="mt-0">Media heading</h5>
                            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <ul class="list-unstyled">
                <% for (var i = 0; i < campaign.donations.length; i++) { %>
                    <li class="media mb-4">
                        <img class="d-flex align-self-start mr-3 media-img" src="http://placehold.it/64x64" alt="">
                        <div class="media-body">
                            <h5 class="mt-0 mb-1"><%= campaign.donations[i].userId %></h5>
                            Contribui com <%= campaign.donations[i].value %>€
                        </div>
                    </li>
                <% } %>
            </ul>
        </div>
    </div>


</div>
<!-- /.container -->

<% include ../../partials/footer %>
</body>

</html>