<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../../partials/head %>
</head>

<body>
<% include ../../partials/header %>

<!-- Page Content -->
<div class="container">

    <!-- Header -->
    <header class="header">
        <h1 class="display-4 hidden-info"><%= campaign.title %></h1>
        <% if(isOwner) { %>
        <input type="hidden" id="campaignId" value="<%= campaign._id%>">
        <input class="form-control edit-info" type="text" name="title" id="title" value="<%= campaign.title %>">
        <button class="btn btn-danger pull-right" id="deleteBtn">
            <i class="fa fa-trash-o"></i>
        </button>
        <button class="btn btn-primary pull-right hidden-info" id="editBtn">
            <i class="fa fa-pencil-square-o"></i>
        </button>
        <button class="btn btn-primary pull-right edit-info" id="saveBtn">
            <i class="fa fa-floppy-o"></i>
        </button>
        <% } %>
        <p class="lead hidden-info"><%= campaign.description %></p>
        <% if(isOwner) { %>
        <textarea class="form-control edit-info" id="description" rows="4"
                  name="description"> <%= campaign.description %> </textarea>
        <% } %>
    </header>

    <div class="row text-center mb-4">
        <div class="col-sm-12 col-lg-8 col-md-8 mb-8">
            <img class="card-img-top" src="/<%= campaign.image %>" alt="">
        </div>
        <div class="col-sm-12 col-lg-4 col-md-4 mb-4">
            <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="<%= campaign.progress %>"
                     aria-valuemin="0" aria-valuemax="<%= campaign.goal %>"
                     style="padding-top: 1em; width:<% if(campaign.progress < campaign.goal) { %>
                     <%= campaign.progress / campaign.goal * 100 %>%
                     <% } else { %>
                             100%
                     <% } %>">
                </div>
            </div>
            <div class="my-4 text-left">
                <div>
                    <p class="lead"><%= campaign.progress %>€</p>
                    <p class="camp-det-aux camp-det">doados de <%= campaign.goal %>€ pretendidos</p>
                </div>
                <div>
                    <input type="hidden" id="campaignEndDate" value="<%= campaign.endDate %>">
                    <p class="lead hidden-info" id="time-left-counter"></p>
                    <p class="camp-det-aux camp-det">restantes</p>
                    <% if(isOwner) { %>
                    <input class="form-control edit-info" type="date" id="endDate" name="endDate" value="<%= campaign.endDate %>">
                    <% } %>
                </div>
                <div>
                    <p class="lead"><%= campaign.n_donators %></p>
                    <p class="camp-det-aux camp-det">contribuidores</p>
                </div>
            </div>
            <% if (!campaign.closed) { %>
            <% if(userLogged) { %>
            <form action="<%= campaign._id %>/donate" method="post">
                <div class="row">
                    <div class="input-group col-md-8 center-block">
                        <input type="number" min="0" step="0.01" max="<%= campaign.goal - campaign.progress %>" placeholder="Faltam <%= campaign.goal - campaign.progress %>€!" class="form-control contribute-value"
                               aria-label="Amount" name="amount">
                        <span class="input-group-addon">€</span>
                    </div>
                    <div class="col-md-4 center-block">
                        <button type="submit" class="btn btn-primary find-btn">Contribuir</button>
                    </div>
                </div>
            </form>
            <% } else { %>
            <a class="btn btn-primary find-btn col-md-12" href="#signin" data-toggle="modal">Contribuir</a>
            <% } %>
            <% } %>
            <img src="http://via.placeholder.com/350x200" style="margin-top: 2em; width: 100%;">
        </div>
    </div>

    <div class="row">
        <!----------------------------- Comments ----------------------------->
        <div class="col-sm-8">
            <!-- Create new comment -->
            <div class="media mb-4">
                <% if(userLogged) { %>
                <a href="#commentArea" class="btn btn-primary find-btn mb-4" data-toggle="collapse">Deixa aqui a tua dúvida/comentário</a>
                <div id="commentArea" class="collapse">
                    <form action="<%= campaign._id %>/comment" method="post">
                        <textarea rows="5" cols="60" name="comment"></textarea>
                        <button type="submit" class="btn btn-primary find-btn">Comentar</button>
                    </form>
                </div>
                <% } else { %>
                <a class="btn btn-primary find-btn mb-4" href="#signin" data-toggle="modal">Deixa aqui a tua dúvida/comentário</a>
                <% } %>
            </div>

            <!-- Comment list -->
            <% for (var c = 0; c < campaign.comments.length; c++) { %>
                <div class="media mb-4">
                    <img class="d-flex align-self-start mr-3 media-img" src="http://placehold.it/64x64" alt="">
                    <div class="media-body">
                        <h5 class="mt-0"><%= campaign.comments[c].user.name %></h5>
                        @<%= campaign.comments[c].date %><br>
                        <%= campaign.comments[c].text %>

                        <!-- Create new reply -->
                        <div class="media mt-3">
                            <% if(userLogged) { %>
                                <a href="#replyArea<%=c%>" class="btn btn-primary find-btn mb-4" data-toggle="collapse">Responder</a>
                                <div id="replyArea<%=c%>" class="collapse">
                                    <form action="<%= campaign._id %>/<%= campaign.comments[c]._id %>/reply" method="post">
                                        <textarea rows="5" cols="60" name="reply"></textarea>
                                        <button type="submit" class="btn btn-primary find-btn">Responder</button>
                                    </form>
                                </div>
                            <% } else { %>
                                <a class="btn btn-primary find-btn mb-4" href="#signin" data-toggle="modal">Responder</a>
                            <% } %>
                        </div>

                        <!-- Reply list -->
                        <% for (var r = 0; r < campaign.comments[c].replies.length; r++) { %>
                            <div class="media mt-3">
                                <a class="d-flex pr-3" href="#">
                                    <img class="d-flex align-self-start mr-3 media-img" src="http://placehold.it/64x64" alt="">
                                </a>
                                <div class="media-body">
                                    <h5 class="mt-0"><%= campaign.comments[c].replies[r].user.name %></h5>
                                    @<%= campaign.comments[c].replies[r].date %><br>
                                    <%= campaign.comments[c].replies[r].text %>
                                </div>
                            </div>
                        <% } %>
                    </div>
                </div>
            <% } %>

        </div>

        <!----------------------------- Donations ----------------------------->
        <div class="col-sm-4">
            <ul class="list-unstyled">
                <% if(campaign.donations.length > 10) { %>
                    <% for (var i = campaign.donations.length - 1; i >= campaign.donations.length - 10; i--) { %>
                    <li class="media mb-4">
                        <img class="d-flex align-self-start mr-3 media-img" src="http://placehold.it/64x64" alt="">
                        <div class="media-body">
                            <h5 class="mt-0 mb-1"><%= campaign.donations[i].user.name %></h5>
                            Contribui com <%= campaign.donations[i].value %>€
                        </div>
                    </li>
                    <% } %>
                <% } else { %>
                    <% for (var i = campaign.donations.length - 1; i >= 0; i--) { %>
                    <li class="media mb-4">
                        <img class="d-flex align-self-start mr-3 media-img" src="http://placehold.it/64x64" alt="">
                        <div class="media-body">
                            <h5 class="mt-0 mb-1"><%= campaign.donations[i].user.name %></h5>
                            Contribui com <%= campaign.donations[i].value %>€
                        </div>
                    </li>
                    <% } %>
                <% } %>
            </ul>
        </div>
    </div>


</div>
<!-- /.container -->

<% include ../../partials/footer %>
<script src="/javascripts/campaigns/show.js"></script>
<script src="/javascripts/campaigns/edit.js"></script>
</body>

</html>