<!DOCTYPE html>
<html lang="en">

  <head>
    <% include ../partials/head %>
  </head>

  <body>
        <% include ../partials/header %>

    <!-- Page Content -->
    <div class="container">

      <!-- Jumbotron -->
      <div class="jumbotron">
        <h1 class="text-center">dream<span class="brand-share">Share</span></h1>
        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, ipsam, eligendi, in quo sunt possimus non incidunt odit vero aliquid similique quaerat nam nobis illo aspernatur vitae fugiat numquam repellat.</p>
      </div>

      <!-- Page Features -->
      <div class="row">
        <div class="col-sm-12 mb-4 campaign-category">
          <h3>Fundraising</h3>
        </div>

          <% fundsCampaigns.forEach(function(campaign) { %>
        <div class="col-lg-4 col-md-4 mb-4 campaign_div">
          <div class="card">
            <img class="card-img-top campaign_img" src="/<%= campaign.image %>" alt="">
            <div class="card-body">
              <h4 class="card-title"><a href="/campaigns/<%= campaign._id %>"><%= campaign.title %></a></h4>
              <p class="card-text"><%= campaign.description %></p>
            </div>
            <div class="card-footer">
              <p class="card-text">Vai ter Localização aqui.</p>
            </div>
          </div>
          <input type="hidden" class="id_campaign" value="<%= campaign._id%>">
        </div>
          <% }); %>
      <div  class="col-sm-12 mb-4">
            <a href="/campaigns/search/true" class="btn btn-secondary float-right">Mais ></a>
      </div>
      </div>
      <!-- /.row -->

      <div class="row">
        <div class="col-sm-12 mb-4 campaign-category">
          <h3>Recolha de artigos</h3>
        </div>
          <% goodsCampaigns.forEach(function(campaign) { %>
        <div class="col-lg-4 col-md-4 mb-4 campaign_div">
          <div class="card">
            <img class="card-img-top campaign_img" src="/<%= campaign.image %>" alt="">
            <div class="card-body">
              <h4 class="card-title"><a href="/campaigns/<%= campaign._id %>"><%= campaign.title %></a></h4>
              <p class="card-text"><%= campaign.description %></p>
            </div>
            <div class="card-footer">
              <p class="card-text">Vai ter Localização aqui.</p>
            </div>
          </div>
          <input type="hidden" class="id_campaign" value="<%= campaign._id%>">
        </div>
          <% }); %>

        <div  class="col-sm-12 mb-4">
          <a href="/campaigns/search/false" class="btn btn-secondary float-right">Mais ></a>
        </div>
      </div>

    </div>
    <!-- /.container -->

   <% include ../partials/footer %>

  </body>

</html>
